<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{/layout::head}"></div>
<body>
<div class="sidebar" >
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">Library</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class='bx bx-search' ></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a th:href="@{/book}">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Book</span>
            </a>
            <span class="tooltip">Book</span>
        </li>
        <li>
            <a th:href="@{/book/create}">
                <i class='bx bx-heart' ></i>
                <span class="links_name">Add Book</span>
            </a>
            <span class="tooltip">Add Book</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-folder' ></i>
                <span class="links_name">Code</span>
            </a>
            <span class="tooltip">Code</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-cog' ></i>
                <span class="links_name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <!--<img src="profile.jpg" alt="profileImg">-->
                <div class="name_job">
                    <div class="name">Sy Nguyen</div>
                    <div class="job">Borrow web</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out" ></i>
        </li>
    </ul>
</div>
<section class="home-section">
    <p style="margin-left: 750px">Error quantity<i style="color:red"class='bx bx-heart' ></i></p>
</section>
<div th:insert="~{/layout::script}"></div>
</body>
</html>