<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: separate;
            border-spacing: 0 1em;
        }
    </style>
</head>

<body>
<form th:object="${email}" action="@{/email}" method="post">
    <table>
        <tr>
            <td>Languages</td>
            <td>
                <select  name="language" >
                    <option th:field="*{language}" th:each="lang:${language1}"   th:text="${lang}" th:value="${lang}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Page Size</td>
            <td>Show
                <select  name="page" >
                    <option th:field="*{page}" th:each="page:${page}" th:text="${page}" th:value="${page}" value=""></option>
                </select>
                emails per page
            </td>
        </tr>
        <tr>
            <td>Spam filter</td>
            <td>
                <input type="checkbox" >
<!--                 <input th:field="*{filter}" type="checkbox" name="radio"> Enable spams filter-->
            </td>
        </tr>
        <tr>
            <td>Signature</td>
            <td><textarea th:field="*{signature}"  name="sign" id="" cols="30" rows="3" th:text="${email1.getSignature()}"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Update</button></td>
        </tr>
    </table>
<!--    <label>Languages</label>-->
<!--    <select name="language" id="">-->
<!--        <option th:value=""></option>-->
<!--    </select>-->
<!--    <br>-->
<!--    <label>Page Size</label>-->
<!--    <select name="language" id="">-->
<!--        <option th:value=""></option>-->
<!--    </select>-->
</form>
</body>
</html>