<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="/assets/datatables/css/dataTables.bootstrap4.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
<app-header></app-header>
<div class="container" id="main-container" style="margin-top: 50px">
<!--  <div class="row">-->
    <div class="col-lg-3">
      <button class="btn btn-primary" style="margin-left: 48px" (click)="onOpenModal( null,'add')">Add new Item</button>
    </div>
<!--    <div class="col-lg-5">-->
<!--      <select class="form-control form-select-md p-2" (change) = "setValueForFilter($event.target.value)" style="width: 100px" >-->
<!--        <option value='0' > ALL </option>-->
<!--        <option *ngFor="let customerType of customerTypeList" value={{customerType.id}} [ngValue] = "customerType.id" > {{customerType.name}} </option>-->
<!--      </select>-->
<!--    </div>-->
    <div class="col-lg-4">
      <form class="form-inline my-2 my-lg-0">
        <span>Search:   </span>
        <input style="margin-left: 5px" #myInput aria-label="Search" class="form-control mr-sm-2" placeholder="Input name" name="search" type="search" [(ngModel)]="keywordForSearch" (keyup)=(searchByName(myInput.value))>
<!--        <button  class="btn btn-outline-white my-2 my-sm-0 btn-dark" type="submit" (click) = "clearSearchKeyword()">Search</button>-->
      </form>
    </div>
<!--  </div>-->

  <table id="example" class="table table-striped table-bordered" style="width:100%;margin-left: 50px;margin-top: 30px">
    <thead>
    <tr>
      <th>ID</th>
      <th>Mã</th>
      <th>Tên</th>
      <th>Giá</th>
      <th>Đơn vị</th>
      <th>So luong</th>
      <th>Nhap</th>
      <th>Xuat</th>
      <th>ham</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items ">
      <td >{{ item?.id}}</td>
      <td style="width: 16%">{{ item?.code}}</td>
      <td style="width: 10%">{{item?.product?.name}}</td>
      <td style="width: 10%">{{item?.product?.giaTien}}</td>
      <td style="width: 10%">{{item?.product?.donVi}}</td>
      <td style="width: 16%">{{ item?.quantity}}</td>
      <td style="width: 16%">{{ item?.nhap}}</td>
      <td style="width: 16%">{{ item?.xuat}}</td>
      <td style="width: 16%">{{ item?.han}}</td>
      <td>
        <button style="margin-left: 5px" (click)="onOpenModal(item, 'delete')" class="btn btn-dark">Delete</button>
      </td>

<!--      <td style="width: 15%">-->
<!--        <button style="margin-left: 5px" class="btn btn-dark" (click)="onOpenModal(customer, 'delete')">Delete</button>-->
<!--      </td>-->
    </tr>
    </tbody>
  </table>

</div>

<div  style="margin-left: 260px;margin-top: 50px">
  <div class="row " >
    <div class="col-md-3 pl-2 mt-2">
      <span>Show </span>
      <select class="btn btn-outline-white border-dark" (change) = "updatePageSize($event.target.value)" >
        <option selected >5</option>
        <option >10</option>
        <option >20</option>
        <option >50</option>
      </select>
      <span>
        entries
      </span>
    </div>
    <div class="col-md-4 mt-2" style="text-align: right; color: black;">
      Hiển thị {{ (thePageNumber - 1) * thePageSize + 1 }} - {{ itemPerPage }} của {{ theTotalElements }}
    </div>
    <div class="col-md-5">
      <ngb-pagination [(page)] = "thePageNumber"
                      [pageSize] = "thePageSize"
                      [collectionSize] = "theTotalElements"
                      (pageChange) = "listCustomers()"
                      [boundaryLinks]="true"
                      [maxSize]="3"
                      [rotate]="true"
      >
      </ngb-pagination>
    </div>
  </div>
</div>

<div style="height: 500px"></div>
<app-footer></app-footer>




<div style="height: 800px" class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" data-bs-backdrop="static" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Add Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formCreate"  (ngSubmit)="onAddCustomer(formCreate)" >
          <div class="form-group">
            <label for="name">Code</label>
            <input type="text"  name="name" class="form-control" id="name" placeholder="Name" required formControlName="code">
            <p *ngIf="(formCreate.controls.code.dirty || formCreate.controls.code.touched) && formCreate.controls.code.errors?.required" style="color: red">Required input</p>
            <p *ngIf="(formCreate.controls.code.dirty || formCreate.controls.code.touched) && formCreate.controls.code.errors?.pattern" style="color: red">Pattern input</p>
          </div>
          <div class="form-group">
            <label for="name">Quantity</label>
            <input type="text"  name="name" class="form-control" id="name2" placeholder="Name" required formControlName="quantity">
            <p *ngIf="(formCreate.controls.quantity.dirty || formCreate.controls.quantity.touched) && formCreate.controls.quantity.errors?.required" style="color: red">Required input</p>
            <p *ngIf="(formCreate.controls.quantity.dirty || formCreate.controls.quantity.touched) && formCreate.controls.quantity.errors?.pattern" style="color: red">Min input</p>
          </div>
          <div class="form-group">
            <label for="name">Nhap</label>
            <input type="date"  name="name" class="form-control" id="name3" placeholder="Name" required formControlName="nhap">
            <p *ngIf="(formCreate.controls.nhap.dirty || formCreate.controls.nhap.touched) && formCreate.controls.nhap.errors?.required" style="color: red">Required input</p>
            <p *ngIf="(formCreate.controls.nhap.dirty || formCreate.controls.nhap.touched) && formCreate.controls.nhap.errors?.pattern" style="color: red">Pattern input</p>
          </div>
          <div class="form-group">
            <label for="name">Xuat</label>
            <input type="date"  name="name" class="form-control" id="name4" placeholder="Name" required formControlName="xuat">
            <p *ngIf="formCreate.controls.xuat.dirty && formCreate.controls.xuat.errors?.required" style="color: red">Required input</p>
            <p *ngIf="formCreate.controls.xuat.dirty && formCreate.controls.xuat.errors?.pattern" style="color: red">Pattern input</p>
          </div>
          <div class="form-group">
            <label for="name">Han</label>
            <input type="date"  name="name" class="form-control" id="name5" placeholder="Name" required formControlName="han">
            <p *ngIf="formCreate.controls.han.dirty && formCreate.controls.han.errors?.required" style="color: red">Required input</p>
            <p *ngIf="formCreate.controls.han.dirty && formCreate.controls.han.errors?.pattern" style="color: red">Pattern input</p>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Product </label>
            <select class="form-control" id="exampleFormControlSelect1" formControlName="product" >
              <option [ngValue]="null" >-- Select --</option>
              <option *ngFor="let customerType of productList" [ngValue] = "customerType" >{{customerType.name}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-customer-form"  class="btn btn-secondary"   data-dismiss="modal">Close</button>
            <button  type="submit" class="btn btn-primary"  [disabled]="formCreate.invalid"  >Add</button>
<!--     [disabled]="formCreate.invalid"       -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!--&lt;!&ndash; Edit customer modal&ndash;&gt;-->
<!--<div style="height: 800px" class="modal fade" id="editCustomerModal" tabindex="-1" role="dialog" aria-labelledby="editCustomerModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="editCustomerModalLabel">Edit Item</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form [formGroup]="formEdit" (ngSubmit)="onUpdateCustomer(formEdit)">-->
<!--          <div class="form-group">-->
<!--            <input type="number" hidden name="id" class="form-control"  placeholder="BirthDay" required formControlName="id">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="name">Name</label>-->
<!--            <input type="text"  name="name" class="form-control" placeholder="Name" required formControlName="name">-->
<!--            <small *ngIf="formEdit.controls.name.touched && formEdit.controls.name.errors?.required" style="color: red">Required Input</small>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="birthDay">BirthDay</label>-->
<!--            <input type="date" name="birthDay" class="form-control"  placeholder="BirthDay" required formControlName="birthDay">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="idCard">Id Card</label>-->
<!--            <input type="text"  name="idCard" class="form-control"  placeholder="Id Card" required formControlName="idCard">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="phone">Phone</label>-->
<!--            <input type="text"  name="phone" class="form-control"  placeholder="Phone" required formControlName="phone">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="email">Email</label>-->
<!--            <input type="email"  name="email" class="form-control"  placeholder="Email" required formControlName="email">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="address">Address</label>-->
<!--            <input type="text"  name="address" class="form-control"  placeholder="Address" required formControlName="address">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="exampleFormControlSelect1">Item Type</label>-->
<!--            <select [compareWith]="compareFn" class="form-control"  formControlName="customerType">-->
<!--              <option [ngValue]="'Default'" disabled>&#45;&#45; Select &#45;&#45;</option>-->
<!--              <option *ngFor="let customerType of customerTypeList" [ngValue] = "customerType">{{customerType.name}}</option>-->
<!--            </select>-->
<!--&lt;!&ndash;            [selected]="customerType.id == customerTypeEdit.id"&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="modal-footer">-->
<!--            <button type="button" id="edit-customer-form"  class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--            <button [disabled]="formEdit.invalid" type="submit" class="btn btn-primary" >Save change</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




<!-- Delete Modal -->
<div class="modal fade" id="deleteCustomerModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete item {{deleteCustomer?.code}} on day {{deleteCustomer?.nhap}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteCustomer(deleteCustomer?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="/assets/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assets/datatables/js/dataTables.bootstrap4.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const myModal = document.getElementById("addCustomerModal");

    myModal.addEventListener("hidePrevented.bs.modal", function() {
      console.log(5)
    });
  });
</script>
</body>
</html>

<notifier-container></notifier-container>

<!--        <a href="#"><ion-icon name="create"></ion-icon></a>-->
<!--        <a href="#"><ion-icon name="trash"></ion-icon></a>-->
<!--        <ion-icon name="add-circle"></ion-icon>-->
